<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Poet #<%= @poet.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/poets" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <!-- Edit link poet start -->
      <div class="col">
        <a href="/poets/<%= @poet.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit poet
        </a>
      </div>
      <!-- Edit link poet end -->

      <!-- Delete link poet start -->
      <div class="col">
        <a href="/delete_poet/<%= @poet.id %>" class="btn btn-block btn-outline-secondary">
          Delete poet
        </a>
      </div>
      <!-- Delete link poet end -->
    </div>

    <dl>
      <dt>
        Team
      </dt>
      <!-- Display team_id start -->
      <dd>
        <%= @poet.team_id %>
      </dd>
      <!-- Display team_id end -->

      <dt>
        Created at
      </dt>
      <!-- Display created_at start -->
      <dd>
        <%= time_ago_in_words(@poet.created_at) %> ago
      </dd>
      <!-- Display created_at end -->

      <dt>
        Updated at
      </dt>
      <!-- Display updated_at start -->
      <dd>
        <%= time_ago_in_words(@poet.updated_at) %> ago
      </dd>
      <!-- Display updated_at end -->
    </dl>
  </div>
</div>

<!-- Show Page Customization starts -->

<!-- Show Page Customization end -->
