<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Poet #<%= @poet.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/poets" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/poets/<%= @poet.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit poet
        </a>
      </div>

      <div class="col">
        <a href="/delete_poet/<%= @poet.id %>" class="btn btn-block btn-outline-secondary">
          Delete poet
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Team
      </dt>
      <dd>
        <% if @poet.team.present? %>
          <a href="/teams/<%= @poet.team_id %>">
            <%= @poet.team.bout_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@poet.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@poet.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

