<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All level quarters
    </h1>

    <a href="/level_quarters/new" class="btn btn-block btn-outline-secondary">
      Add a new level quarter
    </a>
  </div>
</div>

<!-- Ransack Code start -->
<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "level_quarter_templates/level_quarters_search_form" %>
  </div>
</div>
<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @level_quarters.each do |level_quarter| %>
      <tr>
        <!-- Display level_quarter.id start -->
        <td>
          <%= level_quarter.id %>
        </td>
        <!-- Display level_quarter.id end -->

        <!-- Display level_quarter.created_at start -->
        <td>
          <%= time_ago_in_words(level_quarter.created_at) %> ago
        </td>
        <!-- Display level_quarter.created_at end -->

        <!-- Display level_quarter.updated_at start -->
        <td>
          <%= time_ago_in_words(level_quarter.updated_at) %> ago
        </td>
        <!-- Display level_quarter.updated_at end -->

        <td>
          <a href="/level_quarters/<%= level_quarter.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @level_quarters, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
