<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Level quarter #<%= @level_quarter.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/level_quarters" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/level_quarters/<%= @level_quarter.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit level quarter
        </a>
      </div>

      <div class="col">
        <a href="/delete_level_quarter/<%= @level_quarter.id %>" class="btn btn-block btn-outline-secondary">
          Delete level quarter
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@level_quarter.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@level_quarter.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

