<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All bouts
    </h1>

    <a href="/bouts/new" class="btn btn-block btn-outline-secondary">
      Add a new bout
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "bout_templates/bouts_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Score 1
        </th>

        <th>
          Score 2
        </th>

        <th>
          Score 3
        </th>

        <th>
          Score 4
        </th>

        <th>
          Score 5
        </th>

        <th>
          Team
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @bouts.each do |bout| %>
      <tr>
        <td>
          <%= bout.id %>
        </td>

        <td>
          <%= bout.score_1 %>
        </td>

        <td>
          <%= bout.score_2 %>
        </td>

        <td>
          <%= bout.score_3 %>
        </td>

        <td>
          <%= bout.score_4 %>
        </td>

        <td>
          <%= bout.score_5 %>
        </td>

        <td>
          <%= bout.team_id %>
        </td>

        <td>
          <%= time_ago_in_words(bout.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(bout.updated_at) %> ago
        </td>

        <td>
          <a href="/bouts/<%= bout.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @bouts, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
