<!-- Validation failure messages -->
<% if @bout.present? %>
  <% if @bout.errors.any? %>
    <% @bout.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new bout
</h1>


<hr>

<!-- Form bout start -->
<form action="/create_bout" method="post">
<!-- Form bout end -->

  <!-- Label and input for score_1 start -->
  <div class="form-group">
    <label for="score_1">
      Score 1
    </label>

    <!-- Input for score_1 start -->
    <input type="text" id="score_1" name="score_1" class="form-control" value="<%= @bout.score_1 %>">
    <!-- Input for score_1 end -->
  </div>
  <!-- Label and input for score_1 end -->

  <!-- Label and input for score_2 start -->
  <div class="form-group">
    <label for="score_2">
      Score 2
    </label>

    <!-- Input for score_2 start -->
    <input type="text" id="score_2" name="score_2" class="form-control" value="<%= @bout.score_2 %>">
    <!-- Input for score_2 end -->
  </div>
  <!-- Label and input for score_2 end -->

  <!-- Label and input for score_3 start -->
  <div class="form-group">
    <label for="score_3">
      Score 3
    </label>

    <!-- Input for score_3 start -->
    <input type="text" id="score_3" name="score_3" class="form-control" value="<%= @bout.score_3 %>">
    <!-- Input for score_3 end -->
  </div>
  <!-- Label and input for score_3 end -->

  <!-- Label and input for score_4 start -->
  <div class="form-group">
    <label for="score_4">
      Score 4
    </label>

    <!-- Input for score_4 start -->
    <input type="text" id="score_4" name="score_4" class="form-control" value="<%= @bout.score_4 %>">
    <!-- Input for score_4 end -->
  </div>
  <!-- Label and input for score_4 end -->

  <!-- Label and input for score_5 start -->
  <div class="form-group">
    <label for="score_5">
      Score 5
    </label>

    <!-- Input for score_5 start -->
    <input type="text" id="score_5" name="score_5" class="form-control" value="<%= @bout.score_5 %>">
    <!-- Input for score_5 end -->
  </div>
  <!-- Label and input for score_5 end -->

  <!-- Label and input for team_id start -->
  <div class="form-group">
    <label for="team_id">
      Team
    </label>

    <!-- Input for team_id start -->
    <input type="text" id="team_id" name="team_id" class="form-control" value="<%= @bout.team_id %>">
    <!-- Input for team_id end -->
  </div>
  <!-- Label and input for team_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create bout
  </button>
</form>

<hr>

<a href="/bouts">
  Go back
</a>
