<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Bout #<%= @bout.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/bouts" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/bouts/<%= @bout.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit bout
        </a>
      </div>

      <div class="col">
        <a href="/delete_bout/<%= @bout.id %>" class="btn btn-block btn-outline-secondary">
          Delete bout
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Score 1
      </dt>
      <dd>
        <%= @bout.score_1 %>
      </dd>

      <dt>
        Score 2
      </dt>
      <dd>
        <%= @bout.score_2 %>
      </dd>

      <dt>
        Score 3
      </dt>
      <dd>
        <%= @bout.score_3 %>
      </dd>

      <dt>
        Score 4
      </dt>
      <dd>
        <%= @bout.score_4 %>
      </dd>

      <dt>
        Score 5
      </dt>
      <dd>
        <%= @bout.score_5 %>
      </dd>

      <dt>
        Team
      </dt>
      <dd>
        <%= @bout.team_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@bout.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@bout.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

